
body {
  background-color: #000;
}

div#page_content {
  width: 400px;
  margin: auto;
}

header a {  
  &, &:visited {
    color: #00ff00;
  }
  
  &:hover {
    color: #ffffff;
  }
}

section {
  border-radius: 25px;
  border: 2px solid red;
  background-color: #eee;
  
  padding: 10px;
}
